// Please try to maintain the same code style as outlined here:
// https://github.com/lintelio/lintel/blob/master/CONTRIBUTING.md

// Global
$tooltip-margin-y:          $cushion-y-lg !default;
$tooltip-padding-y:         $cushion-y-xs - 2px !default;
$tooltip-padding-x:         $cushion-x-xs - 2px !default;

$tooltip-border-radius:     $border-radius-base !default;

$tooltip-font-size:         $font-size-xs !default;

$tooltip-arrow-width:       10px;

// Base
$tooltip-base-bg:           rgba(0,0,0,.9) !default;
$tooltip-base-border:       $tooltip-base-bg !default;
$tooltip-base-text:         #fff !default;

// Primary
$tooltip-primary-bg:        transparentize($state-primary,.1) !default;
$tooltip-primary-border:    $tooltip-primary-bg !default;
$tooltip-primary-text:      #fff !default;

// Secondary
$tooltip-secondary-bg:      transparentize($state-secondary,.1) !default;
$tooltip-secondary-border:  $tooltip-secondary-bg !default;
$tooltip-secondary-text:    #fff !default;

// Error
$tooltip-error-bg:          transparentize($state-error,.1) !default;
$tooltip-error-border:      $tooltip-error-bg !default;
$tooltip-error-text:        #fff !default;

// Warning
$tooltip-warning-bg:        transparentize($state-warning,.1) !default;
$tooltip-warning-border:    $tooltip-warning-bg !default;
$tooltip-warning-text:      #fff !default;

// Success
$tooltip-success-bg:        transparentize($state-success,.1) !default;
$tooltip-success-border:    $tooltip-success-bg !default;
$tooltip-success-text:      #fff !default;

// Info
$tooltip-info-bg:           transparentize($state-info,.1) !default;
$tooltip-info-border:       $tooltip-info-bg !default;
$tooltip-info-text:         #fff !default;
