// Please try to maintain the same code style as outlined here:
// https://github.com/lintelio/lintel/blob/master/CONTRIBUTING.md

@import 'tooltips-vars';
@import 'tooltips-functions';
@import 'tooltips-mixins';


// Base
// ----
.tooltip {
  background-color: $tooltip-base-bg;
  border: 1px solid $tooltip-base-border;
  border-radius: $tooltip-border-radius;
  color: $tooltip-base-text;
  font-size: $tooltip-font-size;
  padding: $tooltip-padding-y $tooltip-padding-x;
  margin-bottom: $tooltip-margin-y;
  position: absolute;
  text-align: center;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
  }
}


// Placement
// ---------
.tooltip-top,
.tooltip-bottom {
  &:before,
  &:after {
    left: 50%;
    margin-left: -($tooltip-arrow-width / 2);
  }
}

.tooltip-top {
  &:before,
  &:after {
    top: 100%;
  }

  &:before {
    margin-top: 1px;
    @include triangle(
      $direction: 'down',
      $size: $tooltip-arrow-width,
      $color: $tooltip-base-border
    );
  }

  &:after {
    @include triangle(
      $direction: 'down',
      $size: $tooltip-arrow-width,
      $color: $tooltip-base-bg
    );
  }
}

.tooltip-bottom {
  &:before,
  &:after {
    bottom: 100%;
  }

  &:before {
    margin-top: 1px;
    @include triangle(
      $direction: 'up',
      $size: $tooltip-arrow-width,
      $color: $tooltip-base-border
    );
  }

  &:after {
    @include triangle(
      $direction: 'up',
      $size: $tooltip-arrow-width,
      $color: $tooltip-base-bg
    );
  }
}

.tooltip-left,
.tooltip-right {
  &:before,
  &:after {
    top: 50%;
    margin-top: -($tooltip-arrow-width / 2);
  }
}

.tooltip-left {
  &:before,
  &:after {
    left: 100%;
  }

  &:before {
    margin-left: 1px;
    @include triangle(
      $direction: 'right',
      $size: $tooltip-arrow-width,
      $color: $tooltip-base-border
    );
  }

  &:after {
    @include triangle(
      $direction: 'right',
      $size: $tooltip-arrow-width,
      $color: $tooltip-base-bg
    );
  }
}

.tooltip-right {
  &:before,
  &:after {
    right: 100%;
  }

  &:before {
    margin-right: 1px;
    @include triangle(
      $direction: 'left',
      $size: $tooltip-arrow-width,
      $color: $tooltip-base-border
    );
  }

  &:after {
    @include triangle(
      $direction: 'left',
      $size: $tooltip-arrow-width,
      $color: $tooltip-base-bg
    );
  }
}



// States
// ------
@if $tooltip-include-states == true {
  // Primary
  .tooltip-primary {
    @include make-tooltip($bg: $tooltip-primary-bg, $border: $tooltip-primary-border, $text: $tooltip-primary-text);
  }

  // Secondary
  .tooltip-secondary {
    @include make-tooltip($bg: $tooltip-secondary-bg, $border: $tooltip-secondary-border, $text: $tooltip-secondary-text)
  }

  // Error
  .tooltip-error {
    @include make-tooltip($bg: $tooltip-error-bg, $border: $tooltip-error-border, $text: $tooltip-error-text)
  }

  // Warning
  .tooltip-warning {
    @include make-tooltip($bg: $tooltip-warning-bg, $border: $tooltip-warning-border, $text: $tooltip-warning-text)
  }

  // Success
  .tooltip-success {
    @include make-tooltip($bg: $tooltip-success-bg, $border: $tooltip-success-border, $text: $tooltip-success-text)
  }

  // Info
  .tooltip-info {
    @include make-tooltip($bg: $tooltip-info-bg, $border: $tooltip-info-border, $text: $tooltip-info-text)
  }
}
