// Please try to maintain the same code style as outlined here:
// https://github.com/lintelio/lintel/blob/master/CONTRIBUTING.md

@mixin make-tooltip($bg, $border, $text) {
  @if $bg     { background: $bg; }
  @if $border { border-color: $border; }
  @if $text   { color: $text; }
}
