// Please try to maintain the same code style as outlined here:
// https://github.com/lintelio/lintel/blob/master/CONTRIBUTING.md

@mixin make-bacon($bg, $border, $text) {
  background-color: $bg;
  border-color: $border;
  color: $text;
}
