// Please try to maintain the same code style as outlined here:
// https://github.com/lintelio/lintel/blob/master/CONTRIBUTING.md

@mixin tooltip-state($bg, $border, $text) {
  .tooltip-content {
    @if $bg     { background: $bg; }
    @if $border { border-color: $border; }
    @if $text   { color: $text; }
  }

  &.tooltip-top > .tooltip-content {
    &:before {
      border-top-color: $border;
    }

    &:after {
      border-top-color: $bg;
    }
  }

  &.tooltip-right > .tooltip-content {
    &:before {
      border-right-color: $border;
    }

    &:after {
      border-right-color: $bg;
    }
  }

  &.tooltip-bottom > .tooltip-content {
    &:before {
      border-bottom-color: $border;
    }

    &:after {
      border-bottom-color: $bg;
    }
  }

  &.tooltip-left > .tooltip-content {
    &:before {
      border-left-color: $border;
    }

    &:after {
      border-left-color: $bg;
    }
  }
}
