// Please try to maintain the same code style as outlined here:
// https://github.com/lintelio/lintel/blob/master/CONTRIBUTING.md

@import 'tooltips-vars';
@import 'tooltips-functions';
@import 'tooltips-mixins';


// Base
// ----
.tooltip {
  background-color: $tooltip-base-bg;
  border: 1px solid $tooltip-base-border;
  border-radius: $tooltip-border-radius;
  color: $tooltip-base-text;
  font-size: $tooltip-font-size;
  padding: $tooltip-padding-y $tooltip-padding-x;
  margin-bottom: $tooltip-margin-y;
  position: absolute;
  text-align: center;

  &:before,
  &:after {
    content: '';
    display: block;
    left: 50%;
    margin-left: -($tooltip-arrow-width / 2);
    position: absolute;
    top: 100%;
  }

  &:before {
    margin-top: 1px;
    @include triangle(
      $direction: 'down',
      $size: $tooltip-arrow-width,
      $color: $tooltip-base-border
    );
  }

  &:after {
    @include triangle(
      $direction: 'down',
      $size: $tooltip-arrow-width,
      $color: $tooltip-base-bg
    );
  }
}


// States
// ------
// Primary
.tooltip-primary {
  @include make-tooltip($bg: $tooltip-primary-bg, $border: $tooltip-primary-border, $text: $tooltip-primary-text);

  &:before {
    border-top-color: $tooltip-primary-border;
  }

  &:after {
    border-top-color: $tooltip-primary-bg;
  }
}

// Secondary
.tooltip-secondary {
  @include make-tooltip($bg: $tooltip-secondary-bg, $border: $tooltip-secondary-border, $text: $tooltip-secondary-text);

  &:before {
    border-top-color: $tooltip-secondary-border;
  }

  &:after {
    border-top-color: $tooltip-secondary-bg;
  }
}

// Error
.tooltip-error {
  @include make-tooltip($bg: $tooltip-error-bg, $border: $tooltip-error-border, $text: $tooltip-error-text);

  &:before {
    border-top-color: $tooltip-error-border;
  }

  &:after {
    border-top-color: $tooltip-error-bg;
  }
}

// Warning
.tooltip-warning {
  @include make-tooltip($bg: $tooltip-warning-bg, $border: $tooltip-warning-border, $text: $tooltip-warning-text);

  &:before {
    border-top-color: $tooltip-warning-border;
  }

  &:after {
    border-top-color: $tooltip-warning-bg;
  }
}

// Success
.tooltip-success {
  @include make-tooltip($bg: $tooltip-success-bg, $border: $tooltip-success-border, $text: $tooltip-success-text);

  &:before {
    border-top-color: $tooltip-success-border;
  }

  &:after {
    border-top-color: $tooltip-success-bg;
  }
}

// Info
.tooltip-info {
  @include make-tooltip($bg: $tooltip-info-bg, $border: $tooltip-info-border, $text: $tooltip-info-text);

  &:before {
    border-top-color: $tooltip-info-border;
  }

  &:after {
    border-top-color: $tooltip-info-bg;
  }
}
